<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="assets/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://unpkg.com/vue@3/dist/vue.global.js" defer></script>
    <script src="https://cdn.jsdelivr.net/npm/luxon@3.3.0/build/global/luxon.min.js"></script>
    <script src="js/script.js" defer></script>
    <title>Boolzapp</title>
</head>
<body>
    <div class="app">
        <div class="main-box">

            <div class="user-row">
                
                <div class="me">
                    <img class="avatar" src="img/avatar_io.jpg" alt="">
                    <div class="name">Christian</div>
                </div>
                
                <div class="controls">
                    <i class="fas fa-circle-notch"></i>
                    <i class="fas fa-comment-alt"></i>
                    <i class="fas fa-ellipsis-v"></i>
                </div>
                
            </div>
                
            <div class="able-notification">
                <div class="bell">
                    <i class="fa-solid fa-bell-slash text-light"></i>
                </div>
                <p>
                    Ricevi notifiche di nuovi messaggi <br>
                    <a href="">Attiva notifiche desktop</a>
                </p> 
            </div>
                
                

            <div class="searching">
                <i class="fa fa-search icon" aria-hidden="true"></i>
                <input type="text" class="search-bar" v-model="searchText">
            </div>
            
            <div class="contacts">
                <ul>
                    <li v-for="contact in contacts" :key="contact.name" @click="selectContact(contact)">
                        <img :src="contact.avatar" alt="contact.name">
                        <div class="user-info">
                            <div class="name">{{ contact.name}}</div>
                            <div class="last-message"> Ultimo messaggio inviato</div>
                        </div>
                        <div class="last-date">11/05/23</div>
                    </li>
                </ul>
            </div>
            

        </div>


        <div class="chat-box">

            <div class="contact-row">
                <img class="avatar" :src="activeContact.avatar" alt="">
                <div class="contact-info">
                    <div class="name">{{ activeContact.name }}</div>
                    <div class="last-access">Ultimo accesso</div>
                </div>
                <i class="fas fa-search btn"></i>
                <i class="fas fa-paperclip btn"></i>
                <i class="fas fa-ellipsis-v btn"></i>

                    
            </div>

					



            <div class="message-content">
                <ul>
                    <li v-for="message in activeContact.messages" :key="message.date" :class="{'sent': message.status === 'sent', 'received': message.status === 'received'}">
                      <div class="message">
                        <p>{{ message.message }}</p>
                        <div class="date">{{ message.date }}</div>
                      </div>
                    </li>
                </ul>
            </div>


            <div class="text-message">
                <i class="far fa-smile btn"></i>
                <input type="text" class="message-text" placeholder="Scrivi un messaggio" v-model="newMessage" @keyup.enter="sendMessage">
                <i class="fa fa-microphone btn"></i>
            </div>
                
                
            </div>
            
        </div>
</body>
</html>

                        
                        

                      